<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Order Confirmed</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" >
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/confirmed.css" type="text/css" />

  <!-- APP JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/order_confirm_reload.js"></script>
  <script type="text/javascript" src="/scripts/menuScripts.js"></script>


  <!-- External JS -->
  <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-auto-a11y="true"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('./partials/_header') %>

  <main>
    <h3>Your order #<%= order_id %> has been confirmed.</h2>

    <h4>Your Order:</h4>
    <orderd_items>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Quantity</th>
            <th scope="col">Item</th>
            <th scope="col">Special Requests</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <% for (const item of checkoutStuff) { %>
          <tr>
            <td><%= item.quantity %></td>
            <td><%= item.name %></td>
            <td><%= item.special_requests %></td>
            <td>$<%= (Math.round((item.price  * item.quantity) * 100) / 100).toFixed(2) %></td>
          </tr>
          <% } %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="3">Total :</th>
            <td>$<%= totals.subtotal %></td>
          </tr>
          <tr>
            <th colspan="3">Tax :</th>
            <td>$<%= totals.tax %></td>
          </tr>
          <tr>
            <th colspan="3">Total :</th>
            <td>$<%= totals.total %></td>
          </tr>
        </tfoot>
      </table>
    </orderd_items>
    <order_status>
      <h5>Order Status</h5>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>Order is confirmed:</th>
            <td id="is_accepted" value="<%= checkoutStuff[0].is_accepted %>">
              <p>
                <i class="far fa-clock"></i> Waiting for the restaurant to confirm the order.
              </p>
            </td>
          </tr>
          <tr>
            <th>Time est:</th>
            <td id="time_est" value="<%= checkoutStuff[0].time_est %>">
              <p>
                <i class="far fa-clock"></i> Waiting for an estimated time.
              </p>
            </td>
          </tr>
          <tr>
            <th>Order is completed:</th>
            <td id="is_done" value="<%= checkoutStuff[0].is_done %>">
              <p>
                <i class="far fa-clock"></i> Waiting for the restaurant to complete the order.
              </p>
            </td>
          </tr>
        </tbody>
      </table>

    </order_status>
  </main>

  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
